.btn {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    color: var(--title-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    border: var(--accent-text-color);
  
    &:hover,
    &:focus {
      color: var(--title-text-color);
      background-color: var(--accent-text-color);
    }
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--title-text-color);
    box-shadow: var(--background-color);
    border-radius: 4px;
  }
  
  .modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--title-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--timing-function);
  
    &:hover,
    :focus {
     color: var(--accent-text-color);
    }
  }
  
  .close {
    margin-left: 1px;
    margin-top: 4px;
  }
  
  .text-modal {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 40px;
    margin-bottom: 12px;
    color: #212121;
  }
  
  .form {
    padding: 0px;
    margin-left: 40px;
  }
  
  .form-field {
    position: relative;
    margin-bottom: 10px;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
  }
  
  .form-input {
    width: 448px;
    height: 40px;
    left: 576px;
    top: 382px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    transition: border-color var(--timing-function);
  
    &:hover {
      border-color: var(--accent-text-color);
    }
  
    &:hover ~ .icon {
      fill: var(--accent-text-color);
    }
  
    &:focus ~ .icon {
      fill: var(--accent-text-color);
    }
  }
  
  .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: fill var(--timing-function);
  }
  
  textarea {
    font-family: inherit;
    font-size: inherit;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);
    transition: border-color var(--timing-function);
  
    &:hover,
    :focus {
      border-color: var(--accent-text-color);
    }
  }
  
  .checkbox-label {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
  
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 15px;
      border: 1px solid #212121;
      border-radius: 2px;
      margin-right: 7px;
    }
  
    &:hover {
      border-color: var(--accent-text-color);
    }
  }
  
  .checkbox:checked + .checkbox-label::before {
    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--accent-text-color);
    border-color: var(--accent-text-color);
    cursor: pointer;
  }
  
  .checkbox-link {
    color: var(--accent-text-color);
    margin-left: 5px;
  }
  
  .btn__application {
    margin-left: 120px;
  }