:root {
	--primary-text-color: #757575;
	--secondary-text-color: #ffffff;
	--third-text-color: rgba(255, 255, 255, 0.6);
	--primary-title-color: #212121;
	--accent-color: #2196f3;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--third-background-color: #2f303a;
	--icon-color: #afb1b8;

	--main-timing: cubic-bezier(0.4, 0, 0.2, 1);
}